# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# SQLite
*.db
*.sqlite3

# Logs
logs/
*.log

# Backup
backup/

# Videos
videos/

# Excel
data/*.xlsx

# Build
dist/
build/

# IDE
.vscode/
.idea/

# Windows
Thumbs.db
Desktop.ini

# Environment
.env